.attDetails
	color: #3E4D8C
	margin-left: 5%
	margin-bottom: 5%
	font-style: italic
	font-size: 90%

.side-bar
	height: 604px
	background-color: #17ae95
	color: white
	border: 2px solid #f0555f
	border-radius: 4px
	margin-right: 20px
	padding: 10px

.scroll
	overflow: scroll

.navbar
	margin-bottom: 50px
	height: 150px
	background-color: mistyrose
	padding: 10px 0

.footer 
	position: fixed
	bottom: 0
	width: 100%
	background-color: mistyrose

.gridBox
	height: 200px

.area1
	color: #730217

.area2
	color: #D15530

.area3
	color: #A37849

.area4
	color: #2594D9

.area5
	color: #E73C81

.area6
	color: #3E4D8C

.area7
	color: #F2CF53

.highlight
	border: 5px solid #f0555f

.navbar-brand
	padding: 0

.logo 
	height: 125px

.well
	margin-bottom: 10px
	margin: 0px auto 10px
	max-width: 50%

.area
	font-size: 8em
	text-align: center
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white

.main
	background: url(../images/map4.jpg) no-repeat
	background-size: cover
	border: 2px solid #f0555f
	border-radius: 4px

.floating-label
	max-width: 50%

.navbar-right
	padding: 15px

a
	color: #333

a:hover
	text-decoration: none
	color: lightyellow